flows.json
[{"id":"b5c4997f.2d26d8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"99591ab9.32b0a8","type":"ui_form","z":"b5c4997f.2d26d8","name":"","label":"Predicting Life Expectancy","group":"ce4293c6.ccdf4","order":0,"width":0,"height":0,"options":[{"label":"No. of deaths(0-4Y)due to Hiv","value":"a","type":"number","required":true,"rows":null},{"label":"Adult Mortality Rate(15-60 Y)","value":"b","type":"number","required":true,"rows":null},{"label":"Income Composition of Resources","value":"c","type":"number","required":true,"rows":null},{"label":"No. of Yrs of Schooling","value":"d","type":"number","required":true,"rows":null},{"label":"No. of Under 5 Deaths","value":"e","type":"number","required":true,"rows":null},{"label":"Avg. BMI of population","value":"f","type":"number","required":true,"rows":null},{"label":"% of prevelance of Thinness (5-9 Yrs)","value":"g","type":"number","required":true,"rows":null},{"label":"Year","value":"h","type":"number","required":true,"rows":null},{"label":"Consumption of Alcohol (in litres)","value":"i","type":"number","required":true,"rows":null},{"label":"No. of Infant Deaths","value":"j","type":"number","required":true,"rows":null},{"label":"% of prevelance of Thinness (10-19 Yrs)","value":"k","type":"number","required":true,"rows":null},{"label":"Country Code","value":"l","type":"number","required":true,"rows":null},{"label":"% of Total  Expenditure on Health","value":"m","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":""},"payload":"","submit":"submit","cancel":"reset","topic":"","x":240,"y":380,"wires":[["e32a053a.9dc138"]]},{"id":"e32a053a.9dc138","type":"function","z":"b5c4997f.2d26d8","name":"pre token","func":"global.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\n\nvar apikey=\"uNQt8F_bqobi8gLXdudM9sr2eluuFREAtoYM4qmZl5zd\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":180,"y":180,"wires":[["effd4fb7.e7665"]]},{"id":"effd4fb7.e7665","type":"http request","z":"b5c4997f.2d26d8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":250,"y":40,"wires":[["4b2e7ed7.c08de"]]},{"id":"4b2e7ed7.c08de","type":"function","z":"b5c4997f.2d26d8","name":"send to end point","func":"var token=msg.payload.access_token;\nvar instance_id=\"4e1f0a63-e01d-4558-9c08-2d2f1a658c8c\";\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id};\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nmsg.payload ={\"fields\":['Hiv/Aids',\n'Adult_Mortality',\n'Income_Composition_Of_Resources',\n'Schooling',\n'Under_Five_Deaths',\n'Bmi',\n'Thinness_5_9_Years',\n'Year',\n'Alcohol',\n'Infant_Deaths',\n'Thinness__1_19_Years',\n'Country_Code',\n'Total_Expenditure'],\n\"values\":[[a,b,c,d,e,f,g,h,i,j,k,l,m]]};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":400,"wires":[["3445ad96.2b74e2"]]},{"id":"3445ad96.2b74e2","type":"http request","z":"b5c4997f.2d26d8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/4e1f0a63-e01d-4558-9c08-2d2f1a658c8c/deployments/99d24c1b-3c1d-4507-9fd8-b5bcf1fa8903/online","tls":"","persist":false,"proxy":"","authType":"","x":570,"y":200,"wires":[["9016fe5.24873","ecea2704.b094f8"]]},{"id":"ecea2704.b094f8","type":"function","z":"b5c4997f.2d26d8","name":"get from end point","func":"msg.payload=msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":60,"wires":[["852befac.82153","74dcfdac.48fc24","8d3ce496.b18ac8"]]},{"id":"9016fe5.24873","type":"debug","z":"b5c4997f.2d26d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":300,"wires":[]},{"id":"74dcfdac.48fc24","type":"debug","z":"b5c4997f.2d26d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":40,"wires":[]},{"id":"852befac.82153","type":"ui_text","z":"b5c4997f.2d26d8","group":"ce4293c6.ccdf4","order":0,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}} Years","layout":"row-spread","x":860,"y":120,"wires":[]},{"id":"8d3ce496.b18ac8","type":"ui_text","z":"b5c4997f.2d26d8","group":"ce4293c6.ccdf4","order":2,"width":0,"height":0,"name":"","label":"Instructions","format":"(1.)  Country Code starts from 1,according to the A-Z order of the country                           ( 2.) All the deaths and Adult Mortality Rate are taken per 1000 population  (3. ) Income Composition of Resources is between 0 and 1","layout":"col-center","x":870,"y":200,"wires":[]},{"id":"ce4293c6.ccdf4","type":"ui_group","z":"","name":"Predicting Average Life Expectancy","tab":"6486c66f.dd2fb8","order":1,"disp":true,"width":"6","collapse":false},{"id":"6486c66f.dd2fb8","type":"ui_tab","z":"","name":"Prediction","icon":"dashboard","disabled":false,"hidden":false}]